<nav class="navigation-main" id="navbar">
  <div class="container">
    <ul>
      <li><a href="sample.html" class="active">Link 1</a></li>
      <li><a href=".">Link 2</a></li>
      <li><a href=".">Link 3</a></li>
      <li><a href=".">Link 4</a></li>
      <li><a href=".">Link 5</a></li>
      <li><a href=".">Link 6</a></li>
    </ul>
  </div>
</nav>
