<div class="bc-gov-alertbanner bc-gov-alertbanner-info" role="alert" aria-labelledby="info" aria-describedby="info-desc">
  <p id="info-desc">The deadline for submission has been extended to March 1, 2020.</p>
</div>
