<div class="bc-gov-alertbanner bc-gov-alertbanner-success" role="alert" aria-labelledby="success" aria-describedby="success-desc">
  <p id="success-desc">Your application has been successfully submitted.</p>
</div>
