<header>
  <div class="banner">
    <a href="https://gov.bc.ca">
      <img src="../assets/images/logo-banner.svg" alt="Go to the Government of British Columbia website" height="50px"/>
    </a>
    <h1>Hello British Columbia</h1>
  </div>
  <div class="other">
  <!--
    This place is for anything that needs to be right aligned
    beside the logo.
  -->
    &nbsp;
  </div>
</header>
