<header>
  <div class="banner">
    <a href="https://gov.bc.ca">
      <img src="/images/logo-banner.svg" alt="Go to the Government of British Columbia website" height="50px"/>
    </a>
    <h1>Hello British Columbia</h1>
  </div>
  <div class="other">
    {{> beta-indicator/_beta-indicator }}
  </div>
</header>
